* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #8e44ad;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #8e44ad;
}

.about {
    min-height: calc(100vh - 75px);
    max-width: 1200px;
    margin: auto;
    padding: 70px 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.about-image {
    width: 350px;
    height: 430px;
    border-radius: 25px;
    overflow: hidden;
    border: 6px solid #8e44ad;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content {
    max-width: 600px;
}

.section-title {
    color: #8e44ad !important;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.about-content h1 {
    font-size: 42px;
    margin-bottom: 25px;
}

.about-content h1 span {
    color: #8e44ad;
}

.about-content p {
    color: #555;
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 15px;
}




.about-info {
    margin: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.about-info div {
    padding: 12px;
    background: #f8f0fb;
    border-radius: 8px;
}

.about-info strong {
    color: #8e44ad;
    margin-right: 5px;
}




@media (max-width: 768px) {

    .about {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .about-image {
        width: 270px;
        height: 330px;
    }

    .about-content h1 {
        font-size: 34px;
    }

    .about-info {
        grid-template-columns: 1fr;
        text-align: left;
    }
}