.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #8e44ad;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #8e44ad;
}



.contact {
    min-height: calc(100vh - 75px);
    max-width: 1100px;
    margin: auto;
    padding: 70px 30px;
}

.contact-heading {
    text-align: center;
    margin-bottom: 50px;
}

.contact-heading h1 {
    font-size: 42px;
    margin: 10px 0 15px;
}

.contact-heading h1 span {
    color: #8e44ad;
}

.contact-heading > p:last-child {
    color: #666;
    font-size: 17px;
}






.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}






.contact-info {
    padding: 30px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contact-info > p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 30px;
}

.contact-item {
    margin-bottom: 22px;
}

.contact-item strong {
    color: #8e44ad;
    font-size: 17px;
}

.contact-item p {
    color: #555;
    margin-top: 5px;
}






.contact-form {
    background: #f8f0fb;
    padding: 30px;
    border-radius: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;

    margin-bottom: 15px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-family: Arial, sans-serif;
    font-size: 15px;

    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #8e44ad;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 25px;

    background: #8e44ad;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #6c3483;
}






@media (max-width: 768px) {

    .contact {
        padding: 50px 20px;
    }

    .contact-heading h1 {
        font-size: 34px;
    }

    .contact-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contact-info {
        padding: 10px;
    }
}