.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #8e44ad;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #8e44ad;
}



.simple-skills {
    min-height: calc(100vh - 75px);
    max-width: 1000px;
    margin: auto;
    padding: 70px 30px;
    text-align: center;
}

.simple-skills h1 {
    font-size: 42px;
    margin: 10px 0;
}

.simple-skills h1 span {
    color: #8e44ad;
}

.skills-intro {
    color: #666;
    font-size: 17px;
    margin-bottom: 45px;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.simple-skill-card {
    padding: 30px 20px;
    background: #f8f0fb;
    border-radius: 15px;
    transition: 0.3s;
}

.simple-skill-card:hover {
    transform: translateY(-5px);
    background: #f0ddf6;
}

.simple-skill-card h2 {
    color: #8e44ad;
    margin-bottom: 10px;
}

.simple-skill-card p {
    color: #666;
}


/* Mobile */

@media (max-width: 768px) {

    .skill-list {
        grid-template-columns: 1fr 1fr;
    }

    .simple-skills h1 {
        font-size: 34px;
    }
}

@media (max-width: 500px) {

    .skill-list {
        grid-template-columns: 1fr;
    }
}